.carousel {
    width: 100%;
    max-width: 1425px; /* Увеличенная ширина */
    height: 700px; /* Увеличенная высота */
    border-radius: 30px;
    margin: 71px auto 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Изначально скрыто */
    animation: fade 6s infinite; /* Ускорено: полный цикл теперь 6 секунд */
  }
  
  .carousel-slide:nth-child(1) {
    animation-delay: 0s; /* Первое изображение */
  }
  
  .carousel-slide:nth-child(2) {
    animation-delay: 6s; /* Второе изображение */
  }
  
  .carousel-slide:nth-child(3) {
    animation-delay: 9s; /* Третье изображение */
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохраняем пропорции */
  }
  
  /* Анимация для появления */
  @keyframes fade {
    0%, 100% {
      opacity: 0; /* Скрыто в начале и конце */
    }
    20%, 80% {
      opacity: 1; /* Видимо быстрее */
    }
  }
  