.App {
    background-color: #000000;
    color: #fff;
    height: 272px;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
  }
  
  .logo {
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .App-header {
    margin: -2px 0 0 0;
    width: 100%;
    display: flex;
        justify-content: space-around;

  }
  
  .useful-links, .departments, .hospitals {
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li:hover{
    
    text-decoration: underline rgb(0, 132, 255);
  }
  .Link_a:hover{
    text-decoration: underline rgb(0, 132, 255);
  }