* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .nav_menu {
    display: flex;
    gap: 20px; /* Отступ между элементами */
    left: 1500px;
  }
  
  .Nav_text {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
    z-index: 1;
    cursor: pointer; /* Курсор-указатель для кликабельных элементов */
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      transform: scaleY(2);
      opacity: 0;
      transition: all 0.3s ease;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0051ff;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s ease;
      z-index: -1;
      border-radius: 5px;
    }
    
    &:hover {
      color: #fff;
      
      &:before {
        transform: scaleY(1);
        opacity: 1;
      }
      
      &:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }