.Bloli {
  width: 1100px;
  height: 100%;
  margin: 75px auto 100px auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.Bloli ul {
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Bloli li {
  list-style: none;
}

.Bloli li a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  border: solid 1px #b1b1b1;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: all 0.5s ease;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.Bloli li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: all 0.5s ease;
  padding-right: 14px;
  vertical-align: middle;
}

.Bloli li a span {
  position: absolute;
  top: 30px;
  left: 60px;
  color: #262626;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  font-size: 16px;
}

.Bloli li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: rotate(0deg) skewY(-45deg);
  transition: all 0.5s ease;
}

.Bloli li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  transition: all 0.5s ease;
}

.Bloli li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.Bloli li:hover .fa,
.Bloli li:hover span {
  color: #fff;
}

/* Facebook */
.Bloli li:nth-child(1) a:hover {
  background: #3b5998;
}
.Bloli li:nth-child(1) a:hover:before {
  background: #365492;
}
.Bloli li:nth-child(1) a:hover:after {
  background: #4a69ad;
}

/* Twitter/TikTok */
.Bloli li:nth-child(2) a:hover {
  background: #8300ee;
}
.Bloli li:nth-child(2) a:hover:before {
  background: #8300ee;
}
.Bloli li:nth-child(2) a:hover:after {
  background: #8300ee;
}

/* Google */
.Bloli li:nth-child(3) a:hover {
  background: #db4437;
}
.Bloli li:nth-child(3) a:hover:before {
  background: #c13500;
}
.Bloli li:nth-child(3) a:hover:after {
  background: #e57368;
}

/* Instagram */
.Bloli li:nth-child(4) a:hover {
  background: #e4405f;
}
.Bloli li:nth-child(4) a:hover:before {
  background: #d81c3f;
}
.Bloli li:nth-child(4) a:hover:after {
  background: #e46880;
}